<div class="jumbotron jumbotron-fluid cbg-blueMid">
  <div class="container">
    <h1 class="display-4 text-white text-center">Fluid jumbotron</h1>
    <form>
      <div class="form-row justify-content-center">
        <div class="col-md-9">
          <input
            class="form-control form-control-lg mb-4"
            type="text"
            name="inputtext"
            placeholder="Search"
          />
        </div>
        <div class="col-md-1">
          <i class="fa fa-search" style="font-size:48px;color:whitesmoke"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-11 text-center">
            <button type="submit" class="btn btn-primary btn-lg cbtn-xlg">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--
<br>
<div class="jumbotron jumbotron-fluid bg-primary">
  <div class="container">
    <h1 class="display-4 text-white text-center">Fluid jumbotron</h1>
    <form>
      <div class="form-row justify-content-center">
        <div class="col-md-9">
          <input
            class="form-control form-control-lg mb-4"
            type="text"
            name="inputtext"
            placeholder="Search"
          />
        </div>
        <div class="col-md-1">
          <i class="fa fa-search" style="font-size:48px;color:whitesmoke"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-11 text-center">
            <button type="submit" class="btn btn-primary btn-lg cbtn-blueMid ">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

-->
