<div class="card border-primary mt-3">
  <div class="card-header border-bottom border-primary">
    <div class="d-flex">
      <button type="button" class="btn btn-light fa fa-file-text-o fa-large-icon" title="بازنمودن واژه"></button>
      <button type="button" class="btn btn-light fa fa-pencil-square-o fa-large-icon" title="ویرایش"></button>
      <button type="button" class="btn btn-light fa fa-trash-o fa-large-icon" title="زدودن"></button>
      <a class="ml-auto p-1" [routerLink]="['/words', word.id]"><h5>{{ word.context }}</h5></a>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <span class="ml-auto p-1">
        زبان وام دهنده: {{ word.languageCaption }}
      </span>
    </div>
    <div class="d-flex">
      <span class="ml-auto p-1">
        دسته بندی واژه: {{ word.categoryCaption }}
      </span>
    </div>
    <div class="d-flex">
      <div class="ml-auto p-1">
        واژه های پارسی:
        <span
          class="ml-auto p-2 font-weight-bold"
          *ngFor="let item of word.nativeWords; let i = index"
        >
          {{ item.context }}{{ i === word.nativeWords.length - 1 ? '' : ' -' }}
        </span>
      </div>
    </div>
  </div>
</div>
